body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

section {
    padding: 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-size: 35px;
}

.help {
    padding-top: 200px;
    text-align: center;
    color: ghostwhite;

}

.image {
    background-image: url(donate-today-main/images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 5px;
}
.image-2 {
    text-align: center;
}

.money1 {
    text-decoration: none;
    font-weight: 800;
    color: black;
    background-color: rgb(243, 6, 6);
    padding: 30px 40px;
    border-radius: 5px;



}

.money {
    text-decoration: none;
    font-weight: 800;
    color: black;
    background-color: wheat;
    padding: 30px 40px;
    border-radius: 5px;
}
.image-3 {
    text-align: center;
}

.flexible-container {
    display: flex;
    font-display: inherit;

}

.box {
    text-align: justify;
    width: 30%;
    padding: 10px;
    margin: 70px;
    border-radius: 20px;
    background-color: rgba(208, 208, 171, 0.632);
}

.donation-pic {
    height: 15px;
    width: 5px;
}

.donation {
    text-align: justify;
    width: 50%;
    padding: 5%;
}
.discription {
    display: flex;
    padding: 5%;
    margin: 20px;
}

.friend {
    margin-left: 10%;
    border-radius: 10px;
}

.image-4 {
    text-align: center;

}

button {
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    font-weight: 600;
}

.end {
    text-align: center;
    padding: 100px 50px;
    background-color: purple;
}

footer {
    text-align: center;
    background-color: black;
}

#name1 {
    color: orangered;
}

footer h2 {
    color: gold

}

footer p {
    color: turquoise
}
